--------------------------------------------------------------------------------

                           █████╗ ███████╗██╗  ██╗
                          ██╔══██╗██╔════╝██║  ██║
                          ███████║███████╗███████║
                          ██╔══██║╚════██║██╔══██║
                          ██║  ██║███████║██║  ██║
                          ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝

                        Configured by August Ash Ansible

                     For changes contact the administrator.
--------------------------------------------------------------------------------
